body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    min-width: 400px;
    background: #fff;
}


/* .body-top{
    display: flex;
    flex-direction: column;
    height: 100%;
} */

a:hover {
    text-decoration: underline;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* } This method is used to center anything in css */

#search {
    width: auto;
    max-width: 600px;
    background: #fff;
    color: transparent;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
    display: flex;
}

.search-bar {
    width: 40%;
    margin-left: 10%;
    background-color: transparent;
    border: none;
    display: flex;
    flex: 100%;
    flex-wrap: wrap;
    outline: none;
}

.google-search {
    margin-left: 40%;
    margin-top: 30px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    padding: 0 16px;
    line-height: 27px;
    /* height: 36px;
    max-width: 54px; */
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.feeling-lucky {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    /* height: 36px; */
    /* max-width: 100px; */
    text-align: center;
    cursor: pointer;
}

button {
    background-color: #f8f9fa;
}

.region-language {
    box-sizing: border-box;
    height: 180px;
}

#language {
    font-size: small;
    margin-bottom: 24px;
    text-align: center;
    line-height: 28px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #f8f9fa;
    background-color: #f2f2f2;
    box-sizing: border-box;
}

.region {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0, 0, 0, .54);
}

.footer-link {
    color: #70757a;
    text-decoration: none;
    /* display: block; */
    padding: 15px;
}

#left-footer {
    display: flex;
    padding: 0 20px;
    float: left;
}

#center-footer {
    width: 100%;
    vertical-align: top;
    margin-left: 40%;
    min-width: 30%;
}

#right-footer {
    /* justify-content: flex-end; */
    min-width: 30%;
    /* display: flex;
    flex-wrap: wrap; */
    /* padding: 0 20px; */
    float: right;
}

.material-icons-outlined {
    display: flex;
    padding-right: 13px;
    margin-top: 8px;
}

.search-icon {
    color: #9aa0a6;
}